<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={{ url_for('static', filename='style_tw.css')
    }}>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>Questions</title>
  </head>
  <body>
    <div class="relative isolate h-screen bg-gray-100">
      <header
        class="fixed min-w-full bg-gradient-to-r from-sky-500 to-violet-600 m-0 h-16"
      >
        <div class="w-6/12 mx-auto text-white py-6">
          <ul class="flex flex-row justify-center items-center text-lg">
            <li><a href="#">Why KNOWA</a></li>
            <li><a href="#">Tutors</a></li>
            <li><a href="#">Plans</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </header>
      <main class="absolute pt-16 flex w-full mx-auto h-full z-10">
        <div id="content-div" class="w-2/3 mx-auto flex flex-col">
          <div
            id="question-head"
            class="flex justify-between w-full mx-auto py-12 text-xl"
          >
            <div id="difficulty"><h2>Difficulty: 2/10</h2></div>
            <div id="topic"><h2>Topic: Trigonometry</h2></div>
            <div id="question-count"><h2>Question 1/10</h2></div>
          </div>
          <div
            class="bg-gradient-to-r from-sky-300 to-violet-300 rounded-lg p-12 mx-12"
            id="question-box"
          >
            {{ question }}
          </div>
          <div
            class="question-options grid grid-flow-row md:grid-cols-2 mx-12 py-4 my-32 grid-cols-1 gap-12"
          >
            {% for ans in answers %}
            <div class="question-card">{{ans}}</div>
            {% endfor %}
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
